@use "./variables" as vars;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap'); // _fonts.scss

// Scroll Bar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: vars.$main-bg-color;
  border-radius: 10px 10px 10px 10px;
}

::-webkit-scrollbar-thumb {
  background: vars.$primary-color;
  border-radius: 10px 10px 10px 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: vars.$primary-font;
  font-style: normal;
  background-color: black;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .link {
    display: flex;
    gap: 1rem;
    transition: .2s ease;

    svg path {
      transition: .2s ease;
    }
  }

  .link:hover {
    color: vars.$primary-color !important;

    svg path {
      stroke: vars.$primary-color !important;
    }
  }
}