// Text color
$primary-color: #F6BA18;

// Background Color

// Fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "Poetsen One", sans-serif;

// Error
$error-alarme-title-color: #cd0000;
$error-alerte-title-color: #f19d00;
$interdit: #df2a0b;