.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  border-radius: 0;

  &.shrink {
    margin-top: 1rem;
    width: 80%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
  }

  .content {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    nav {
      display: flex;
      justify-content: space-between;
      width: 30%;
      font-weight: 300;
      text-transform: uppercase;

      p {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        line-height: 0;

        svg {
          width: 1.5rem;
        }
      }

      .iconProfile svg {
        width: 1.1rem;
      }
    }
  }
}
