.footer {
  width: 100%;
  height: 20rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logoTitle {
    width: 20%;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;

    p {
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}